fastapi[standard]
uvicorn[standard]
pydantic
langchain-community
langgraph
langchain-core
langchain>=0.2.0
langchain-google-genai>=1.0.0
google-generativeai
langchain_mistralai
google_genai
python-dotenv
pycryptodome
langchain-groq
